# Relación entre arrestos depersonas de distintas razas y la cantidad de arrestos por estado en EEUU, entre 2018 y 2020.

0. trabajo datos

In [73]:
import pandas as pd
import json

In [74]:
# https://www.fbi.gov/services/cjis/ucr/publications : Dataframe (18, 19) * las del 2020 esta solo el dataframe por raza
# 29 Numero de arrestos por ofensa
# 43- 49 - 55 - 61 - 67 numero de arrestos por raza
# 69 numero de arrestos por estado sobre/bajo 18 años

import requests
import os
lista_anos = [2019,2018,2017]
lista_numeros_tablas = [29, '55a' ,69]

try:
    for ano in lista_anos:
        os.makedirs(f'Data_fbi_ucr/{ano}_datos')
        for num_tabla in lista_numeros_tablas:
            dls = f"https://ucr.fbi.gov/crime-in-the-u.s/{ano}/crime-in-the-u.s.-{ano}/tables/table-{num_tabla if num_tabla != '55a' else 55}/table-{num_tabla}.xls/output.xls"
            resp = requests.get(dls)
            
            with open(f'Data_fbi_ucr/{ano}_datos/tabla_{num_tabla}.xls', 'wb') as output:
                output.write(resp.content)
except FileExistsError:
    print('ya existen estos archivos')

ya existen estos archivos

In [75]:
tabla_55a_2019 =  pd.read_excel('Data_fbi_ucr/2019_datos/tabla_55a.xls')
tabla_55a_2019 = tabla_55a_2019.rename(columns=tabla_55a_2019.iloc[6]).iloc[7:].reset_index().drop(columns=['index'])
tabla_55a_2019.head()

,Offense charged,Total,White,Black or\nAfrican\nAmerican,American\nIndian or\nAlaska\nNative,Asian,Native\nHawaiian\nor Other\nPacific\nIslander,Total,White,Black or\nAfrican\nAmerican,American\nIndian or\nAlaska\nNative,Asian,Native\nHawaiian\nor Other\nPacific\nIslander,Total2,Hispanic\nor\nLatino,Not\nHispanic\nor Latino,Total,Hispanic\nor\nLatino,Not\nHispanic\nor Latino
0,TOTAL,1360157,975178,350940,11505,17866,4668,100,71.7,25.8,0.8,1.3,0.3,1165073,217727,947346,100,18.7,81.3
1,Murder and nonnegligent manslaughter,1687,966,686,14,11,10,100,57.3,40.7,0.8,0.7,0.6,1264,303,961,100,24,76
2,Rape3,3387,2571,736,14,50,16,100,75.9,21.7,0.4,1.5,0.5,2880,766,2114,100,26.6,73.4
3,Robbery,7898,3512,4240,32,79,35,100,44.5,53.7,0.4,1,0.4,6985,1366,5619,100,19.6,80.4
4,Aggravated assault,48642,33696,13657,392,729,168,100,69.3,28.1,0.8,1.5,0.3,42154,9417,32737,100,22.3,77.7

In [76]:
tabla_55a_2018 =  pd.read_excel('Data_fbi_ucr/2018_datos/tabla_55a.xls')
tabla_55a_2018 = tabla_55a_2018.rename(columns=tabla_55a_2018.iloc[6]).iloc[7:].reset_index().drop(columns=['index'])
tabla_55a_2018.head()

,Offense charged,Total,White,Black or\nAfrican\nAmerican,American\nIndian or\nAlaska\nNative,Asian,Native\nHawaiian\nor Other\nPacific\nIslander,Total,White,Black or\nAfrican\nAmerican,American\nIndian or\nAlaska\nNative,Asian,Native\nHawaiian\nor Other\nPacific\nIslander,Total2,Hispanic\nor\nLatino,Not\nHispanic\nor Latino,Total,Hispanic\nor\nLatino,Not\nHispanic\nor Latino
0,TOTAL,1524774,1086539,400923,14369,18412,4531,100,71.3,26.3,0.9,1.2,0.3,1239300,220086,1019214,100,17.8,82.2
1,Murder and nonnegligent manslaughter,1755,952,780,6,14,3,100,54.2,44.4,0.3,0.8,0.2,1356,301,1055,100,22.2,77.8
2,Rape3,3710,2835,805,17,36,17,100,76.4,21.7,0.5,1,0.5,2978,731,2247,100,24.5,75.5
3,Robbery,9408,4226,5046,45,65,26,100,44.9,53.6,0.5,0.7,0.3,7898,1464,6434,100,18.5,81.5
4,Aggravated assault,56315,38833,16099,489,722,172,100,69,28.6,0.9,1.3,0.3,46236,10184,36052,100,22,78

In [77]:
# usar api fbi
# codigo de todas los estados : https://api.usa.gov/crime/fbi/sapi/api/states?API_KEY=iiHnOKfno2Mgkt5AynpvPpUQTEyxE77jo1RU8PIv&size=100
# arrestos en la region por raza: https://api.usa.gov/crime/fbi/sapi/api/arrest/states/CA/all/race/2020/2020?API_KEY=iiHnOKfno2Mgkt5AynpvPpUQTEyxE77jo1RU8PIv

In [78]:
# extraemos los codigos de todos los estados
key = '1jL8OaKHoKG21Thdsnx6ep5Zi9qaLidKUT4jIIyu'
url_codes = f'https://api.usa.gov/crime/fbi/sapi/api/states?API_KEY={key}&size=100'

r=requests.get(url_codes)
r.json()

{'results': [{'state_id': 1,
   'state_name': 'Alaska',
   'state_abbr': 'AK',
   'region_code': 4,
   'state_fips_code': 2},
  {'state_id': 2,
   'state_name': 'Alabama',
   'state_abbr': 'AL',
   'region_code': 3,
   'state_fips_code': 1},
  {'state_id': 3,
   'state_name': 'Arkansas',
   'state_abbr': 'AR',
   'region_code': 3,
   'state_fips_code': 5},
  {'state_id': 4,
   'state_name': 'American Samoa',
   'state_abbr': 'AS',
   'region_code': 99,
   'state_fips_code': 60},
  {'state_id': 5,
   'state_name': 'Arizona',
   'state_abbr': 'AZ',
   'region_code': 4,
   'state_fips_code': 4},
  {'state_id': 6,
   'state_name': 'California',
   'state_abbr': 'CA',
   'region_code': 4,
   'state_fips_code': 6},
  {'state_id': 7,
   'state_name': 'Colorado',
   'state_abbr': 'CO',
   'region_code': 4,
   'state_fips_code': 8},
  {'state_id': 8,
   'state_name': 'Connecticut',
   'state_abbr': 'CT',
   'region_code': 1,
   'state_fips_code': 9},
  {'state_id': 9,
   'state_name': 'Canal Zone',
   'state_abbr': 'CZ',
   'region_code': 99,
   'state_fips_code': None},
  {'state_id': 10,
   'state_name': 'District of Columbia',
   'state_abbr': 'DC',
   'region_code': 3,
   'state_fips_code': 11},
  {'state_id': 11,
   'state_name': 'Delaware',
   'state_abbr': 'DE',
   'region_code': 3,
   'state_fips_code': 10},
  {'state_id': 12,
   'state_name': 'Florida',
   'state_abbr': 'FL',
   'region_code': 3,
   'state_fips_code': 12},
  {'state_id': 13,
   'state_name': 'Georgia',
   'state_abbr': 'GA',
   'region_code': 3,
   'state_fips_code': 13},
  {'state_id': 15,
   'state_name': 'Hawaii',
   'state_abbr': 'HI',
   'region_code': 4,
   'state_fips_code': 15},
  {'state_id': 16,
   'state_name': 'Iowa',
   'state_abbr': 'IA',
   'region_code': 2,
   'state_fips_code': 19},
  {'state_id': 17,
   'state_name': 'Idaho',
   'state_abbr': 'ID',
   'region_code': 4,
   'state_fips_code': 16},
  {'state_id': 18,
   'state_name': 'Illinois',
   'state_abbr': 'IL',
   'region_code': 2,
   'state_fips_code': 17},
  {'state_id': 19,
   'state_name': 'Indiana',
   'state_abbr': 'IN',
   'region_code': 2,
   'state_fips_code': 18},
  {'state_id': 20,
   'state_name': 'Kansas',
   'state_abbr': 'KS',
   'region_code': 2,
   'state_fips_code': 20},
  {'state_id': 21,
   'state_name': 'Kentucky',
   'state_abbr': 'KY',
   'region_code': 3,
   'state_fips_code': 21},
  {'state_id': 22,
   'state_name': 'Louisiana',
   'state_abbr': 'LA',
   'region_code': 3,
   'state_fips_code': 22},
  {'state_id': 23,
   'state_name': 'Massachusetts',
   'state_abbr': 'MA',
   'region_code': 1,
   'state_fips_code': 25},
  {'state_id': 24,
   'state_name': 'Maryland',
   'state_abbr': 'MD',
   'region_code': 3,
   'state_fips_code': 24},
  {'state_id': 25,
   'state_name': 'Maine',
   'state_abbr': 'ME',
   'region_code': 1,
   'state_fips_code': 23},
  {'state_id': 26,
   'state_name': 'Michigan',
   'state_abbr': 'MI',
   'region_code': 2,
   'state_fips_code': 26},
  {'state_id': 27,
   'state_name': 'Minnesota',
   'state_abbr': 'MN',
   'region_code': 2,
   'state_fips_code': 27},
  {'state_id': 28,
   'state_name': 'Missouri',
   'state_abbr': 'MO',
   'region_code': 2,
   'state_fips_code': 29},
  {'state_id': 29,
   'state_name': 'Mississippi',
   'state_abbr': 'MS',
   'region_code': 3,
   'state_fips_code': 28},
  {'state_id': 30,
   'state_name': 'Montana',
   'state_abbr': 'MT',
   'region_code': 4,
   'state_fips_code': 30},
  {'state_id': 31,
   'state_name': 'Nebraska',
   'state_abbr': 'NE',
   'region_code': 2,
   'state_fips_code': 31},
  {'state_id': 32,
   'state_name': 'North Carolina',
   'state_abbr': 'NC',
   'region_code': 3,
   'state_fips_code': 37},
  {'state_id': 33,
   'state_name': 'North Dakota',
   'state_abbr': 'ND',
   'region_code': 2,
   'state_fips_code': 38},
  {'state_id': 34,
   'state_name': 'New Hampshire',
   'state_abbr': 'NH',
   'region_code': 1,
   'state_fips_code': 33},
  {'state_id': 35,
   'state_name': 'New Jersey',
   'state_abbr': 'NJ',
   'region_code': 1,
   'state_fips_code': 34},
  {'state_id': 36,
   'state_name': 'New Mexico',
   'state_abbr': 'NM',
   'region_code': 4,
   'state_fips_code': 35},
  {'state_id': 37,
   'state_name': 'Nevada',
   'state_abbr': 'NV',
   'region_code': 4,
   'state_fips_code': 32},
  {'state_id': 38,
   'state_name': 'New York',
   'state_abbr': 'NY',
   'region_code': 1,
   'state_fips_code': 36},
  {'state_id': 39,
   'state_name': 'Ohio',
   'state_abbr': 'OH',
   'region_code': 2,
   'state_fips_code': 39},
  {'state_id': 40,
   'state_name': 'Oklahoma',
   'state_abbr': 'OK',
   'region_code': 3,
   'state_fips_code': 40},
  {'state_id': 41,
   'state_name': 'Oregon',
   'state_abbr': 'OR',
   'region_code': 4,
   'state_fips_code': 41},
  {'state_id': 42,
   'state_name': 'Pennsylvania',
   'state_abbr': 'PA',
   'region_code': 1,
   'state_fips_code': 42},
  {'state_id': 43,
   'state_name': 'Puerto Rico',
   'state_abbr': 'PR',
   'region_code': 1,
   'state_fips_code': 72},
  {'state_id': 44,
   'state_name': 'Rhode Island',
   'state_abbr': 'RI',
   'region_code': 1,
   'state_fips_code': 44},
  {'state_id': 45,
   'state_name': 'South Carolina',
   'state_abbr': 'SC',
   'region_code': 3,
   'state_fips_code': 45},
  {'state_id': 46,
   'state_name': 'South Dakota',
   'state_abbr': 'SD',
   'region_code': 2,
   'state_fips_code': 46},
  {'state_id': 47,
   'state_name': 'Tennessee',
   'state_abbr': 'TN',
   'region_code': 3,
   'state_fips_code': 47},
  {'state_id': 48,
   'state_name': 'Texas',
   'state_abbr': 'TX',
   'region_code': 3,
   'state_fips_code': 48},
  {'state_id': 49,
   'state_name': 'Utah',
   'state_abbr': 'UT',
   'region_code': 4,
   'state_fips_code': 49},
  {'state_id': 51,
   'state_name': 'Virginia',
   'state_abbr': 'VA',
   'region_code': 3,
   'state_fips_code': 51},
  {'state_id': 52,
   'state_name': 'Vermont',
   'state_abbr': 'VT',
   'region_code': 1,
   'state_fips_code': 50},
  {'state_id': 53,
   'state_name': 'Washington',
   'state_abbr': 'WA',
   'region_code': 4,
   'state_fips_code': 53},
  {'state_id': 54,
   'state_name': 'Wisconsin',
   'state_abbr': 'WI',
   'region_code': 2,
   'state_fips_code': 55},
  {'state_id': 55,
   'state_name': 'West Virginia',
   'state_abbr': 'WV',
   'region_code': 3,
   'state_fips_code': 54},
  {'state_id': 56,
   'state_name': 'Wyoming',
   'state_abbr': 'WY',
   'region_code': 4,
   'state_fips_code': 56},
  {'state_id': 57,
   'state_name': 'Mariana Islands',
   'state_abbr': 'MP',
   'region_code': 0,
   'state_fips_code': 69},
  {'state_id': 99,
   'state_name': 'Other',
   'state_abbr': 'OT',
   'region_code': 99,
   'state_fips_code': 99},
  {'state_id': 50,
   'state_name': 'US Virgin Islands',
   'state_abbr': 'VI',
   'region_code': 0,
   'state_fips_code': 78},
  {'state_id': 14,
   'state_name': 'Guam',
   'state_abbr': 'GM',
   'region_code': 0,
   'state_fips_code': 66}],
 'pagination': {'count': 58, 'page': 0, 'pages': 1, 'per_page': 100}}

In [79]:
df_codes=pd.json_normalize(r.json(),record_path='results')
df_codes

    state_id            state_name state_abbr  region_code  state_fips_code
0          1                Alaska         AK            4              2.0
1          2               Alabama         AL            3              1.0
2          3              Arkansas         AR            3              5.0
3          4        American Samoa         AS           99             60.0
4          5               Arizona         AZ            4              4.0
5          6            California         CA            4              6.0
6          7              Colorado         CO            4              8.0
7          8           Connecticut         CT            1              9.0
8          9            Canal Zone         CZ           99              NaN
9         10  District of Columbia         DC            3             11.0
10        11              Delaware         DE            3             10.0
11        12               Florida         FL            3             12.0
12        13               Georgia         GA            3             13.0
13        15                Hawaii         HI            4             15.0
14        16                  Iowa         IA            2             19.0
15        17                 Idaho         ID            4             16.0
16        18              Illinois         IL            2             17.0
17        19               Indiana         IN            2             18.0
18        20                Kansas         KS            2             20.0
19        21              Kentucky         KY            3             21.0
20        22             Louisiana         LA            3             22.0
21        23         Massachusetts         MA            1             25.0
22        24              Maryland         MD            3             24.0
23        25                 Maine         ME            1             23.0
24        26              Michigan         MI            2             26.0
25        27             Minnesota         MN            2             27.0
26        28              Missouri         MO            2             29.0
27        29           Mississippi         MS            3             28.0
28        30               Montana         MT            4             30.0
29        31              Nebraska         NE            2             31.0
30        32        North Carolina         NC            3             37.0
31        33          North Dakota         ND            2             38.0
32        34         New Hampshire         NH            1             33.0
33        35            New Jersey         NJ            1             34.0
34        36            New Mexico         NM            4             35.0
35        37                Nevada         NV            4             32.0
36        38              New York         NY            1             36.0
37        39                  Ohio         OH            2             39.0
38        40              Oklahoma         OK            3             40.0
39        41                Oregon         OR            4             41.0
40        42          Pennsylvania         PA            1             42.0
41        43           Puerto Rico         PR            1             72.0
42        44          Rhode Island         RI            1             44.0
43        45        South Carolina         SC            3             45.0
44        46          South Dakota         SD            2             46.0
45        47             Tennessee         TN            3             47.0
46        48                 Texas         TX            3             48.0
47        49                  Utah         UT            4             49.0
48        51              Virginia         VA            3             51.0
49        52               Vermont         VT            1             50.0
50        53            Washington         WA            4             53.0
51        54             Wisconsin         WI            2             55.0
52        55         West Virginia         WV            3             54.0
53        56               Wyoming         WY            4             56.0
54        57       Mariana Islands         MP            0             69.0
55        99                 Other         OT           99             99.0
56        50     US Virgin Islands         VI            0             78.0
57        14                  Guam         GM            0             66.0

In [80]:
# Solo vamos a considerar los 50 estados principales
df_codes = df_codes.drop([3,8,9, 41,54, 55, 56, 57])

In [81]:
codigos_estados = df_codes[['state_abbr']].values

In [82]:
# iterar en cada estado para estraer su dataframe de arrestos por raza del 2018 al 2020
lista_anos = [2020,2019,2018,2017]

try:
    for estado in codigos_estados:
        estado = estado[0]
        os.makedirs(f'Data_fbi_arrestos_2017_2020/{estado}_datos_arrestos_raza')
        dls = f"https://api.usa.gov/crime/fbi/sapi/api/arrest/states/{estado}/all/race/2017/2020?API_KEY={key}"
        resp = requests.get(dls)
        with open(f'Data_fbi_arrestos_2017_2020/{estado}_datos_arrestos_raza/datos_{estado}.json', 'wb') as output:
            output.write(resp.content)
except FileExistsError:
    print('ya existen estos archivos')

ya existen estos archivos

In [102]:
df_estados_razas = dict()

for estado in codigos_estados:
    estado = estado[0]
    with open(f'Data_fbi_arrestos_2017_2020\{estado}_datos_arrestos_raza\datos_{estado}.json', 'r') as file:
        params = json.load(file)
        df_estados_razas[estado] = pd.DataFrame.from_dict(params['data'])

In [108]:
df_estados_razas['CA']

     value  data_year  month_num                               key
0    26504       2017          0                             Asian
1    26954       2018          0                             Asian
2    26003       2019          0                             Asian
3    21181       2020          0                             Asian
4     4246       2017          0                   Native Hawaiian
5     4429       2018          0                   Native Hawaiian
6     4348       2019          0                   Native Hawaiian
7     3434       2020          0                   Native Hawaiian
8   180253       2017          0         Black or African American
9   176483       2018          0         Black or African American
10  168555       2019          0         Black or African American
11  134559       2020          0         Black or African American
12    6170       2017          0  American Indian or Alaska Native
13    5909       2018          0  American Indian or Alaska Native
14    5714       2019          0  American Indian or Alaska Native
15    4544       2020          0  American Indian or Alaska Native
16  881115       2017          0                             White
17  879540       2018          0                             White
18  840139       2019          0                             White
19  684148       2020          0                             White
20       0       2017          0                           Unknown
21       0       2018          0                           Unknown
22       0       2019          0                           Unknown
23       0       2020          0                           Unknown

1. cantidad de arrstos por estado

In [140]:
# cual es el estado con mayor numero de arrestos por raza y por año
df_2020_arrestos_white = pd.DataFrame()
df_2019_arrestos_white = pd.DataFrame()
df_2018_arrestos_white = pd.DataFrame()

df_2020_arrestos_black = pd.DataFrame()
df_2019_arrestos_black = pd.DataFrame()
df_2018_arrestos_black = pd.DataFrame()


for estado in codigos_estados:
    estado = estado[0]
    df_estado = df_estados_razas[estado]
    df_estado['estado'] = estado
    df_2020_arrestos_white = df_2020_arrestos_white.append(df_estado.loc[17], ignore_index= True)
    df_2019_arrestos_white = df_2019_arrestos_white.append(df_estado.loc[18], ignore_index= True)
    df_2018_arrestos_white = df_2018_arrestos_white.append(df_estado.loc[19], ignore_index= True)

    df_2020_arrestos_black = df_2020_arrestos_black.append(df_estado.loc[9], ignore_index= True)
    df_2019_arrestos_black = df_2019_arrestos_black.append(df_estado.loc[10], ignore_index= True)
    df_2018_arrestos_black = df_2018_arrestos_black.append(df_estado.loc[11], ignore_index= True)

In [145]:
df_2020_arrestos = pd.DataFrame()

df_2020_arrestos = df_2020_arrestos.append(df_2020_arrestos_white, ignore_index= True )
df_2020_arrestos = df_2020_arrestos.append(df_2020_arrestos_black, ignore_index= True )
df_2020_arrestos.describe()

               value  data_year  month_num
count     100.000000      100.0      100.0
mean    81247.490000     2018.0        0.0
std    112704.655992        0.0        0.0
min         0.000000     2018.0        0.0
25%     19042.000000     2018.0        0.0
50%     54173.000000     2018.0        0.0
75%    106146.250000     2018.0        0.0
max    879540.000000     2018.0        0.0

2. distribucion de arrestos por raza en todo eeuu

3. razas por estado

5. conclusiones